/* style.css */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background:#111;
  color:white;
  line-height:1.6;
}

.hero{
  background-image: url('img/portada.png');
  background-size: cover;
  background-position: center;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

.overlay{
  background: rgba(0,0,0,0.6);
  padding:40px;
  border-radius:20px;
}

.logo{
  width:250px;
  margin-bottom:20px;
}

.hero h1{
  font-size:60px;
  color:#00ff66;
}

.hero h2{
  font-size:30px;
  margin:20px 0;
}

.hero p{
  max-width:700px;
  margin:auto;
}

.btn{
  display:inline-block;
  margin-top:20px;
  padding:15px 30px;
  background:#00ff66;
  color:black;
  text-decoration:none;
  border-radius:10px;
  font-weight:bold;
  transition:0.3s;
}

.btn:hover{
  background:white;
}

nav{
  background:#1f1f1f;
  padding:15px;
  position:sticky;
  top:0;
}

nav ul{
  display:flex;
  justify-content:center;
  list-style:none;
  gap:20px;
}

nav a{
  color:white;
  text-decoration:none;
  font-weight:bold;
}

nav a:hover{
  color:#00ff66;
}

.section{
  padding:60px 10%;
}

.section h2{
  margin-bottom:20px;
  color:#00ff66;
  font-size:35px;
}

.bilingue{
  margin-top:30px;
  padding:20px;
  background:#222;
  border-left:5px solid #00ff66;
}

.galeria{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:20px;
}

.galeria img{
  width:100%;
  border-radius:15px;
  transition:0.3s;
}

.galeria img:hover{
  transform:scale(1.03);
}

video{
  width:100%;
  border-radius:20px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:15px;
}

.card{
  background:#222;
  padding:20px;
  border-radius:10px;
  border:1px solid #00ff66;
}

footer{
  background:black;
  text-align:center;
  padding:20px;
}